<!-- 
    (Codingflag, 2021)
    (Parker-Jones, 2018)
    https://stackoverflow.com/questions/16849117/html-how-to-do-a-confirmation-popup-to-a-submit-button-and-then-send-the-reque#:~:text=For%20a%20Django%20form%2C%20you,')%22%3E&text=using%20this%20function%20on%20submit%20button%20you%20will%20get%20what%20you%20expect.
 -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'inventory/base.css' %}">
    {% block extrahead %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <form id='logout-form' action="{% url 'logout' %}" method="post">
        {% csrf_token %}
    </form>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <span>SEAVU</span>
            </div>
            <div class="links">
                <a class="link" href="{% url 'inventory' %}">
                    <span class="material-symbols-outlined">inventory_2</span>
                    <span>Inventory</span>
                </a>
                <a class="link" href="{% url 'software' %}">
                    <span class="material-symbols-outlined">sdk</span>
                    <span>Software</span>
                </a>
            </div>
            {% if user.is_authenticated %}
            <div class="divider"></div>
            <div class="links">
                <button class="link logout" type="submit" form="logout-form" onclick="return confirm('Are you sure you want to logout?')">
                    <span class="material-symbols-outlined">logout</span>
                    <span>Logout</span>
                </button>
            </div>
            {% endif %}
        </div>
        <main>
            {% if messages %}
            <div class="message-wrapper">
                {% for message in messages %}
                <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>
</body>
</html>