<!-- 
    (dcode, 2019)
 -->
{% extends 'inventory/base.html' %} {% block title %}Inventory | Seavu{% endblock %}
{% load static %}
{% block extrahead %}<link rel="stylesheet" href="{% static 'inventory/inventory.css' %}">{% endblock %}
{% block content %}
<h1>Inventory</h1>
<a href="{% url 'add-computer' %}"><span class="add-computer material-symbols-outlined">add</span></a>
    <table class="inventory-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>User</th>
                <th>Make</th>
                <th>Model</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if computer_list %}
                {% for computer in computer_list %}
                    <tr>
                        <td>{{ computer.name }}</td>
                        <td>{{ computer.status }}</td>
                        <td>{{ computer.user }}</td>
                        <td>{{ computer.make }}</td>
                        <td>{{ computer.model }}</td>
                        <td>{{ computer.category }}</td>
                        <td class="actions">
                            <a class="action" href="{% url 'update-computer' computer_id=computer.id %}"><span class="material-symbols-outlined">list</span></a>
                            {% if request.user.is_staff %}
                                <form id="form-{{computer.id}}" action="{% url 'delete-computer' computer_id=computer.id %}" method="post">
                                    {% csrf_token %}
                                </form>
                                <button class="action" type="submit" form="form-{{computer.id}}" onclick="return confirm('Are you sure you want to delete {{computer.name}}?')"><span class="material-symbols-outlined">delete</span></button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td> --- </td>
                    <td> --- </td>
                    <td> --- </td>
                    <td> --- </td>
                    <td> --- </td>
                    <td> --- </td>
                    <td> --- </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}