{% extends 'inventory/base.html' %} {% block title %}Software | Seavu{% endblock %}
{% load static %}
{% block extrahead %}<link rel="stylesheet" href="{% static 'inventory/software.css' %}">{% endblock %}
{% block content %}
<h1>Software</h1>
<a href="{% url 'add-software' %}"><span class="add-software material-symbols-outlined">add</span></a>
    <table class="software-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Company Requisite?</th>
                <th>Has Licence?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if software_list %}
                {% for software in software_list %}
                    <tr>
                        <td>{{ software.name }}</td>
                        <td>{{ software.company_requisite }}</td>
                        <td>{{ software.has_licence }}</td>
                        <td class="actions">
                            <a class="action" href="{% url 'update-software' software_id=software.id %}"><span class="material-symbols-outlined">list</span></a>
                            {% if request.user.is_staff %}
                                <form id="form-{{software.id}}" action="{% url 'delete-software' software_id=software.id %}" method="post">
                                    {% csrf_token %}
                                </form>
                                <button class="action" type="submit" form="form-{{software.id}}" onclick="return confirm('Are you sure you want to delete {{software.name}}?')"><span class="material-symbols-outlined">delete</span></button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td> --- </td>
                    <td> --- </td>
                    <td> --- </td>
                    <td> --- </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}