
.software-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.software-table tr th {
    text-align: left;
    font-weight: bold;
}

.software-table th, .software-table td {
    padding: 12px 15px;
}

.software-table tbody tr {
    border-bottom: 1px solid #ddd;
}