
.material-symbols-outlined.add-computer {
    font-size: 30px;
    font-variation-settings: 'OPSZ' 30;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.inventory-table thead tr {
    background-color: #ddd;
    text-align: left;
    font-weight: bold;
}

.inventory-table th, .inventory-table td {
    padding: 12px 15px;
}

.inventory-table tbody tr {
    border-bottom: 1px solid #ddd;

    /* Taken from Amit Walia https://codepen.io/amitwalia23/pen/jrOVBL */
    background: linear-gradient(transparent, transparent 50%, rgba(56, 163, 165, 0.2) 50%, rgba(56, 163, 165, 0.2));
    background-size: 100% 200%;
    transition: background 500ms;
}

.inventory-table tbody tr:hover {
    background-position: 100% calc(100% + 1px);
}

.inventory-table tbody tr:last-of-type {
    border-bottom: 2px solid #ddd;
}

.inventory-table tbody tr:last-of-type:hover {
    /* Taken from Amit Walia https://codepen.io/amitwalia23/pen/jrOVBL */
    background-position: 100% calc(100% + 2px);
}