/* 
(dcode, 2019)
*/
.actions {
    display: flex;
}

.action {
    background: none;
	color: inherit;
	border: none;
	padding: 0 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
    user-select: none;
}

.action .material-symbols-outlined {
    font-size: 25px;
    font-variation-settings: 'OPSZ' 25;
}

.add-software.material-symbols-outlined {
    font-size: 30px;
    font-variation-settings: 'OPSZ' 30;
}

.software-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.software-table thead tr {
    background-color: #ddd;
    text-align: left;
    font-weight: bold;
}

.software-table th, .software-table td {
    padding: 12px 15px;
}

.software-table tbody tr {
    border-bottom: 1px solid #ddd;

    /* Taken from Amit Walia https://codepen.io/amitwalia23/pen/jrOVBL */
    background: linear-gradient(transparent, transparent 50%, rgba(56, 163, 165, 0.2) 50%, rgba(56, 163, 165, 0.2));
    background-size: 100% 200%;
    transition: background 500ms;
}

.software-table tbody tr:hover {
    background-position: 100% calc(100% + 1px);
}

.software-table tbody tr:last-of-type {
    border-bottom: 2px solid #ddd;
}

.software-table tbody tr:last-of-type:hover {
    /* Taken from Amit Walia https://codepen.io/amitwalia23/pen/jrOVBL */
    background-position: 100% calc(100% + 2px);
}