{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'registration/login.css' %}">
    <title>Login | SEAVU</title>
</head>
<body>
    <main>
        <form class="login-fieldset" method="post">
            <h1 class="brand">SEAVU</h1>
            {% csrf_token %}
            <div class="login-fieldset-errors">{{ form.non_field_errors }}</div>
            <div class="login-field-errors">{{ form.username.errors }}</div>
            <div class="login-field">
                <input type="text" name="username" placeholder="Username"><span class="material-symbols-outlined">person</span>
            </div>
            <div class="login-field-errors">{{ form.password.errors }}</div>
            <div class="login-field">
                <input type="password" name="password" placeholder="Password"><span class="material-symbols-outlined">lock</span>
            </div>
            <div class="login-forgot">
                <a href="">Forgot password?</a>
            </div>
            <button class="login-btn" type="submit" for="login-fieldset">Login</button>
            <div class="login-register">
                <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </form>
    </main>
</body>
</html>